# TASK 1

Research Question : The effects of protein and fat intake percentage from animal products on COVID-19 death cases.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

1. Import Dataset
The related dataset is imported.

In [4]:
proteinSupply = pd.read_csv('/Users/izgikocacelebi/Downloads/Protein_Supply_Quantity_Data.csv')
proteinSupply

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,9.7523,0.0277,0.0000,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.1370,0.0462,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.1840,27.7469,0.0711,0.0000,14.2331,1.8069,0.6274,1.2757,7.6582,...,3.2456,0.0544,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0323,13.8360,0.0054,0.0000,26.5633,1.2916,0.6350,1.1624,3.5088,...,3.1267,0.1399,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.6285,15.2311,0.0277,0.0000,20.3882,0.1756,5.4436,1.2754,7.6248,...,0.8133,0.0924,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.1535,33.1901,0.1289,0.0000,10.5108,0.4850,8.2146,1.2586,16.0670,...,1.6024,0.2947,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.1955,22.5411,0.1244,0.0000,21.6526,0.8707,2.6477,1.0662,11.8347,...,1.0129,0.0267,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.1555,20.4466,0.1555,0.0056,18.5247,0.7665,5.7435,0.7165,11.0426,...,3.7216,0.0389,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,10.0122,0.0188,0.0000,35.1179,0.4320,0.9392,0.4884,5.9453,...,0.5448,0.0564,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.4824,9.8925,0.0338,0.0000,28.5182,0.5839,3.0126,0.0931,4.3158,...,0.8039,0.0592,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.2929,11.3443,0.0391,0.0000,33.1934,0.5077,1.0837,0.2636,6.6582,...,0.5955,0.0586,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [5]:
fatSupply = pd.read_csv("/Users/izgikocacelebi/Downloads/Fat_Supply_Quantity_Data.csv")
fatSupply

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [6]:
food_descriptions = pd.read_csv("/Users/izgikocacelebi/Downloads/Supply_Food_Data_Descriptions.csv")

In [7]:
food_descriptions

,Categories,Items
0,Alcoholic Beverages,"Alcohol, Non-Food; Beer; Beverages, Alcoholic;..."
1,Animal fats,"Butter, Ghee; Cream; Fats, Animals, Raw; Fish,..."
2,Animal Products,"Aquatic Animals, Others; Aquatic Plants; Bovin..."
3,"Aquatic Products, Other","Aquatic Animals, Others; Aquatic Plants; Meat,..."
4,Cereals - Excluding Beer,"Barley and products; Cereals, Other; Maize and..."
5,Eggs,Eggs
6,"Fish, Seafood",Cephalopods; Crustaceans; Demersal Fish; Fresh...
7,Fruits - Excluding Wine,"Apples and products; Bananas; Citrus, Other; D..."
8,Meat,"Bovine Meat; Meat, Other; Mutton & Goat Meat; ..."
9,Milk - Excluding Butter,Milk - Excluding Butter
10,Miscellaneous,Infant food; Miscellaneous
11,Offals,"Offals, Edible"
12,Oilcrops,Coconuts - Incl Copra; Cottonseed; Groundnuts ...
13,Pulses,"Beans; Peas; Pulses, Other and products"
14,Spices,"Cloves; Pepper; Pimento; Spices, Other"
15,Starchy Roots,Cassava and products; Potatoes and products; R...
16,Stimulants,Cocoa Beans and products; Coffee and products;...
17,Sugar & Sweeteners,Honey; Sugar (Raw Equivalent); Sugar non-centr...
18,Sugar Crops,Sugar beet; Sugar cane
19,Treenuts,Nuts and products
20,Vegetable Oils,Coconut Oil; Cottonseed Oil; Groundnut Oil; Ma...
21,Vegetables,"Onions; Tomatoes and products; Vegetables, Other"
22,Vegetal Products,"Alcohol, Non-Food; Apples and products; Banana..."

2. Data Cleaning

In [8]:
proteinSupply = proteinSupply[['Country','Animal Products','Deaths']]
proteinSupply

                                Country  Animal Products    Deaths
0                           Afghanistan           9.7523  0.006186
1                               Albania          27.7469  0.050951
2                               Algeria          13.8360  0.006558
3                                Angola          15.2311  0.001461
4                   Antigua and Barbuda          33.1901  0.007143
..                                  ...              ...       ...
165  Venezuela (Bolivarian Republic of)          22.5411  0.004287
166                             Vietnam          20.4466  0.000036
167                               Yemen          10.0122  0.002062
168                              Zambia           9.8925  0.004564
169                            Zimbabwe          11.3443  0.008854

[170 rows x 3 columns]

In [9]:
fatSupply = fatSupply[['Country','Animal Products','Deaths']]
fatSupply

                                Country  Animal Products    Deaths
0                           Afghanistan          21.6397  0.006186
1                               Albania          32.0002  0.050951
2                               Algeria          14.4175  0.006558
3                                Angola          15.3041  0.001461
4                   Antigua and Barbuda          27.7033  0.007143
..                                  ...              ...       ...
165  Venezuela (Bolivarian Republic of)          16.3261  0.004287
166                             Vietnam          33.2484  0.000036
167                               Yemen          12.5401  0.002062
168                              Zambia           9.6005  0.004564
169                            Zimbabwe          10.3796  0.008854

[170 rows x 3 columns]

In [10]:
proteinSupply_cleaned = proteinSupply.rename(columns = {
    'Animal Products' : '% Protein in Animal Products',
    'Deaths':'% COVID-19 Deaths'
} )
proteinSupply_cleaned

,Country,% Protein in Animal Products,% COVID-19 Deaths
0,Afghanistan,9.7523,0.006186
1,Albania,27.7469,0.050951
2,Algeria,13.8360,0.006558
3,Angola,15.2311,0.001461
4,Antigua and Barbuda,33.1901,0.007143
...,...,...,...
165,Venezuela (Bolivarian Republic of),22.5411,0.004287
166,Vietnam,20.4466,0.000036
167,Yemen,10.0122,0.002062
168,Zambia,9.8925,0.004564
169,Zimbabwe,11.3443,0.008854

In [11]:
fatSupply_cleaned = fatSupply.rename(columns = {
    'Animal Products' : '%Fat in Animal Products',
    'Deaths':'% COVID-19 Deaths'
} )
fatSupply_cleaned

,Country,%Fat in Animal Products,% COVID-19 Deaths
0,Afghanistan,21.6397,0.006186
1,Albania,32.0002,0.050951
2,Algeria,14.4175,0.006558
3,Angola,15.3041,0.001461
4,Antigua and Barbuda,27.7033,0.007143
...,...,...,...
165,Venezuela (Bolivarian Republic of),16.3261,0.004287
166,Vietnam,33.2484,0.000036
167,Yemen,12.5401,0.002062
168,Zambia,9.6005,0.004564
169,Zimbabwe,10.3796,0.008854

In [12]:
print(proteinSupply_cleaned.count(axis = 'rows') )

Country                         170
% Protein in Animal Products    170
% COVID-19 Deaths               164
dtype: int64

In [13]:
print(fatSupply_cleaned.count(axis = 'rows'))

Country                    170
%Fat in Animal Products    170
% COVID-19 Deaths          164
dtype: int64

It can be seen that there are 6 rows with missing values in COVID-19 Deaths column.

- Dealing with missing values

In [14]:
proteinSupply_cleaned = proteinSupply_cleaned.dropna().reset_index()
fatSupply_cleaned = fatSupply_cleaned.dropna().reset_index()

In [15]:
proteinSupply_cleaned

,index,Country,% Protein in Animal Products,% COVID-19 Deaths
0,0,Afghanistan,9.7523,0.006186
1,1,Albania,27.7469,0.050951
2,2,Algeria,13.8360,0.006558
3,3,Angola,15.2311,0.001461
4,4,Antigua and Barbuda,33.1901,0.007143
...,...,...,...,...
159,165,Venezuela (Bolivarian Republic of),22.5411,0.004287
160,166,Vietnam,20.4466,0.000036
161,167,Yemen,10.0122,0.002062
162,168,Zambia,9.8925,0.004564
163,169,Zimbabwe,11.3443,0.008854

In [16]:
fatSupply_cleaned

,index,Country,%Fat in Animal Products,% COVID-19 Deaths
0,0,Afghanistan,21.6397,0.006186
1,1,Albania,32.0002,0.050951
2,2,Algeria,14.4175,0.006558
3,3,Angola,15.3041,0.001461
4,4,Antigua and Barbuda,27.7033,0.007143
...,...,...,...,...
159,165,Venezuela (Bolivarian Republic of),16.3261,0.004287
160,166,Vietnam,33.2484,0.000036
161,167,Yemen,12.5401,0.002062
162,168,Zambia,9.6005,0.004564
163,169,Zimbabwe,10.3796,0.008854

In [17]:
proteinSupply_cleaned = proteinSupply_cleaned.drop(['index'],axis =1)
fatSupply_cleaned = fatSupply_cleaned.drop(['index'],axis=1)

In [18]:
proteinSupply_cleaned

,Country,% Protein in Animal Products,% COVID-19 Deaths
0,Afghanistan,9.7523,0.006186
1,Albania,27.7469,0.050951
2,Algeria,13.8360,0.006558
3,Angola,15.2311,0.001461
4,Antigua and Barbuda,33.1901,0.007143
...,...,...,...
159,Venezuela (Bolivarian Republic of),22.5411,0.004287
160,Vietnam,20.4466,0.000036
161,Yemen,10.0122,0.002062
162,Zambia,9.8925,0.004564
163,Zimbabwe,11.3443,0.008854

In [19]:
fatSupply_cleaned

,Country,%Fat in Animal Products,% COVID-19 Deaths
0,Afghanistan,21.6397,0.006186
1,Albania,32.0002,0.050951
2,Algeria,14.4175,0.006558
3,Angola,15.3041,0.001461
4,Antigua and Barbuda,27.7033,0.007143
...,...,...,...
159,Venezuela (Bolivarian Republic of),16.3261,0.004287
160,Vietnam,33.2484,0.000036
161,Yemen,12.5401,0.002062
162,Zambia,9.6005,0.004564
163,Zimbabwe,10.3796,0.008854

 3. Data Processsing

In [20]:
fat = pd.DataFrame(fatSupply_cleaned['%Fat in Animal Products'])
fat

     %Fat in Animal Products
0                    21.6397
1                    32.0002
2                    14.4175
3                    15.3041
4                    27.7033
..                       ...
159                  16.3261
160                  33.2484
161                  12.5401
162                   9.6005
163                  10.3796

[164 rows x 1 columns]

In [21]:
animalProd = pd.concat([proteinSupply_cleaned,fat], axis = 1)
animalProd

,Country,% Protein in Animal Products,% COVID-19 Deaths,%Fat in Animal Products
0,Afghanistan,9.7523,0.006186,21.6397
1,Albania,27.7469,0.050951,32.0002
2,Algeria,13.8360,0.006558,14.4175
3,Angola,15.2311,0.001461,15.3041
4,Antigua and Barbuda,33.1901,0.007143,27.7033
...,...,...,...,...
159,Venezuela (Bolivarian Republic of),22.5411,0.004287,16.3261
160,Vietnam,20.4466,0.000036,33.2484
161,Yemen,10.0122,0.002062,12.5401
162,Zambia,9.8925,0.004564,9.6005
163,Zimbabwe,11.3443,0.008854,10.3796

In [22]:
animalProd = animalProd.reindex(columns = ['Country','% Protein in Animal Products', '%Fat in Animal Products', '% COVID-19 Deaths'])

In [23]:
animalProd

,Country,% Protein in Animal Products,%Fat in Animal Products,% COVID-19 Deaths
0,Afghanistan,9.7523,21.6397,0.006186
1,Albania,27.7469,32.0002,0.050951
2,Algeria,13.8360,14.4175,0.006558
3,Angola,15.2311,15.3041,0.001461
4,Antigua and Barbuda,33.1901,27.7033,0.007143
...,...,...,...,...
159,Venezuela (Bolivarian Republic of),22.5411,16.3261,0.004287
160,Vietnam,20.4466,33.2484,0.000036
161,Yemen,10.0122,12.5401,0.002062
162,Zambia,9.8925,9.6005,0.004564
163,Zimbabwe,11.3443,10.3796,0.008854

# Task 2

## Method Chaining

In [24]:
def load_and_process(fat_path, protein_path) :
    
    df1 = pd.read_csv(fat_path)[['Country','Animal Products','Deaths']].rename(columns = {
    'Animal Products' : '%Fat in Animal Products',
    'Deaths':'% COVID-19 Deaths'
    }).dropna().reset_index().drop(['index', 'Country','% COVID-19 Deaths'],axis =1)
    
    
    df2 = pd.read_csv(protein_path)[['Country','Animal Products','Deaths']].rename(columns = {
    'Animal Products' : '% Protein in Animal Products',
    'Deaths':'% COVID-19 Deaths'
    }).dropna().reset_index().drop(['index'], axis =1)
    
    df3 = pd.concat([df2,df1],axis =1).reindex(columns = ['Country','% Protein in Animal Products', '%Fat in Animal Products', '% COVID-19 Deaths'])
    return df3

load_and_process("/Users/izgikocacelebi/Downloads/Fat_Supply_Quantity_Data.csv",'/Users/izgikocacelebi/Downloads/Protein_Supply_Quantity_Data.csv')

,Country,% Protein in Animal Products,%Fat in Animal Products,% COVID-19 Deaths
0,Afghanistan,9.7523,21.6397,0.006186
1,Albania,27.7469,32.0002,0.050951
2,Algeria,13.8360,14.4175,0.006558
3,Angola,15.2311,15.3041,0.001461
4,Antigua and Barbuda,33.1901,27.7033,0.007143
...,...,...,...,...
159,Venezuela (Bolivarian Republic of),22.5411,16.3261,0.004287
160,Vietnam,20.4466,33.2484,0.000036
161,Yemen,10.0122,12.5401,0.002062
162,Zambia,9.8925,9.6005,0.004564
163,Zimbabwe,11.3443,10.3796,0.008854

In [29]:
from scripts import project_function as pt
df4 = pt.load_and_process("/Users/izgikocacelebi/Downloads/Fat_Supply_Quantity_Data.csv",'/Users/izgikocacelebi/Downloads/Protein_Supply_Quantity_Data.csv')

ModuleNotFoundError: No module named 'scripts'

# Task 3 :EDA

In [26]:
animalProd.describe(exclude = np.object).T

<ipython-input-26-78034b2e3c7d>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  animalProd.describe(exclude = np.object).T

,count,mean,std,min,25%,50%,75%,max
% Protein in Animal Products,164.0,21.138788,7.932568,4.4561,14.385450,21.772550,28.243200,35.786000
%Fat in Animal Products,164.0,20.671132,8.003350,5.0182,14.907200,20.866900,26.913750,36.901800
% COVID-19 Deaths,164.0,0.039370,0.048718,0.0000,0.002013,0.011998,0.069503,0.185428

In [27]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'

In [28]:
profile = pandas_profiling.ProfileReport(animalProd)
display(profile)