In [1]:
#Task 1

In [1]:
#Food supply (kcal) data
import pandas as pd
import numpy as np
import seaborn as sns
kcal = pd.read_csv("C:/Users/vong2/OneDrive/Desktop/data301/project-group28-project/data/raw/Food_Supply_kcal_Data.csv")
fat = pd.read_csv("C:/Users/vong2/OneDrive/Desktop/data301/project-group28-project/data/raw/Fat_Supply_Quantity_Data.csv")

In [2]:
fat

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [3]:
kcal

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,...,45.2476,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,...,33.9070,2.8244,2.7508,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,...,43.9749,5.7638,2.0457,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,...,45.3184,4.2741,0.3525,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,...,34.6225,4.6904,1.2960,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.8454,7.2303,0.6007,21.3126,0.2892,0.4449,2.3804,3.1368,2.6474,...,42.7586,7.5417,0.6674,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0
166,Vietnam,0.7150,10.9806,0.9363,26.9833,0.2894,1.0385,1.8046,7.8311,0.5618,...,39.0364,1.3279,1.9578,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0
167,Yemen,0.0000,3.4667,0.3394,32.0727,0.1455,0.1697,1.1879,2.0121,0.6545,...,46.5455,3.9515,0.3636,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0
168,Zambia,1.1925,3.3043,0.3230,31.5528,0.1988,0.5714,0.2236,1.5155,0.5217,...,46.7081,3.0062,0.4472,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0
169,Zimbabwe,1.4269,3.9356,0.6904,29.8044,0.1381,0.1611,0.4373,1.7491,1.0817,...,46.0759,6.2601,0.2532,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0

In [4]:
fat1 = fat[['Country','Obesity','Confirmed','Deaths','Recovered','Active','Population']]
fat1

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0
...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0

In [42]:
kcal1 = kcal[['Population','Confirmed','Active']].rename(columns = {'Confirmed' : 'Confirmed cases in count','Active' : 'Active cases in count'})
kcal1

     Population  Confirmed cases in count  Active cases in count
0    38928000.0                  0.142134               0.012574
1     2838000.0                  2.967301               1.123714
2    44357000.0                  0.244897               0.070767
3    32522000.0                  0.061687               0.003419
4       98000.0                  0.293878               0.095918
..          ...                       ...                    ...
165  28645000.0                  0.452585               0.023899
166  96209000.0                  0.002063               0.000501
167  29826000.0                  0.007131               0.000282
168  18384000.0                  0.334133               0.039045
169  14863000.0                  0.232033               0.032214

[170 rows x 3 columns]

In [46]:
kcal2 = kcal1.iloc[:,[1,2]].divide(100)
kcal2

     Confirmed cases in count  Active cases in count
0                    0.001421               0.000126
1                    0.029673               0.011237
2                    0.002449               0.000708
3                    0.000617               0.000034
4                    0.002939               0.000959
..                        ...                    ...
165                  0.004526               0.000239
166                  0.000021               0.000005
167                  0.000071               0.000003
168                  0.003341               0.000390
169                  0.002320               0.000322

[170 rows x 2 columns]

In [47]:
kcal3 = kcal1.iloc[:,[1,2]].multiply(kcal1['Population'])
kcal3

,0,1,2,3,4,5,6,7,8,9,...,162,163,164,165,166,167,168,169,Active cases in count,Confirmed cases in count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
kcal3 = fat['Population'].mul(kcal2['Confirmed cases in count'])
#kcal3.DataFrame.from_dict(kcal3)
kcal.append(kcal3.to_frame())

,0,Active,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Confirmed,Country,Deaths,Eggs,...,Recovered,Spices,Starchy Roots,Stimulants,Sugar & Sweeteners,Treenuts,Undernourished,Vegetable Oils,Vegetables,Vegetal Products
0,NaN,0.012574,0.0000,4.7774,0.8504,37.1186,0.142134,Afghanistan,0.006186,0.1501,...,0.123374,0.1001,0.3252,0.0750,2.2261,0.1251,29.8,2.3012,0.7504,45.2476
1,NaN,1.123714,0.9120,16.0930,1.0591,16.2107,2.967301,Albania,0.050951,0.8091,...,1.792636,0.0000,1.2651,0.2501,3.4422,0.3972,6.2,2.8244,2.7508,33.9070
2,NaN,0.070767,0.0896,6.0326,0.1941,25.0112,0.244897,Algeria,0.006558,0.4181,...,0.167572,0.1195,1.9262,0.1493,3.9869,0.2240,3.9,5.7638,2.0457,43.9749
3,NaN,0.003419,1.9388,4.6927,0.2644,18.3521,0.061687,Angola,0.001461,0.0441,...,0.056808,0.0000,12.6239,0.0441,2.7539,0.0000,25,4.2741,0.3525,45.3184
4,NaN,0.095918,2.3041,15.3672,1.5429,13.7215,0.293878,Antigua and Barbuda,0.007143,0.2057,...,0.190816,0.3497,0.8434,0.4937,5.8218,0.0823,NaN,4.6904,1.2960,34.6225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,129642.999890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,1985.000444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2127.000030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,61427.000057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,34486.999987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,0,Active,Confirmed,Country,Deaths,Obesity,Population,Recovered
0,NaN,0.012574,0.142134,Afghanistan,0.006186,4.5,38928000.0,0.123374
1,NaN,1.123714,2.967301,Albania,0.050951,22.3,2838000.0,1.792636
2,NaN,0.070767,0.244897,Algeria,0.006558,26.6,44357000.0,0.167572
3,NaN,0.003419,0.061687,Angola,0.001461,6.8,32522000.0,0.056808
4,NaN,0.095918,0.293878,Antigua and Barbuda,0.007143,19.1,98000.0,0.190816
...,...,...,...,...,...,...,...,...
165,129642.999890,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,1985.000444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2127.000030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,61427.000057,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,34486.999987,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#fat1.append(kcal3.to_frame()) fat['Population'].mul(kcal2['Active cases in count'])

AttributeError: 'tuple' object has no attribute 'to_frame'

In [23]:
kcal4 = kcal.to_frame()
kcal4

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [19]:
obesity = pd.concat([fat1, kcal2], axis = 1)

In [20]:
obesity

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population,Confirmed cases in count,Active cases in count
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,0.001421,0.000126
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,0.029673,0.011237
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,0.002449,0.000708
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,0.000617,0.000034
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,0.002939,0.000959
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,0.004526,0.000239
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,0.000021,0.000005
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,0.000071,0.000003
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,0.003341,0.000390
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,0.002320,0.000322

In [9]:
obesity_set1 = obesity.iloc[:,[7,8]]*obesity.iloc[:,[6]]

In [10]:
#obesity_set1

     Active in counts  Confirmed in counts  Population
0                 NaN                  NaN         NaN
1                 NaN                  NaN         NaN
2                 NaN                  NaN         NaN
3                 NaN                  NaN         NaN
4                 NaN                  NaN         NaN
..                ...                  ...         ...
165               NaN                  NaN         NaN
166               NaN                  NaN         NaN
167               NaN                  NaN         NaN
168               NaN                  NaN         NaN
169               NaN                  NaN         NaN

[170 rows x 3 columns]

In [14]:
#obesity.dropna().reset_index(drop=True)

In [18]:
obesity

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population,Confirmed in counts,Active in counts
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,0.142134,0.012574
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,2.967301,1.123714
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,0.244897,0.070767
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,0.061687,0.003419
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,0.293878,0.095918
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,0.452585,0.023899
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,0.002063,0.000501
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,0.007131,0.000282
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,0.334133,0.039045
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,0.232033,0.032214